[Unit]
Description=RK AI Assistant Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=raspberrypi
Environment=XDG_RUNTIME_DIR=/run/user/1000
Environment=PULSE_RUNTIME_PATH=/run/user/1000/pulse
WorkingDirectory=/home/raspberrypi/Documents/rk-ai-assistant
ExecStart=/usr/bin/bash /home/raspberrypi/Documents/rk-ai-assistant/start_rk.sh
Restart=always
RestartSec=10
StandardOutput=inherit
StandardError=inherit

[Install]
WantedBy=multi-user.target
