[Unit]
Description=RK AI Assistant Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
# If your username is NOT 'pi', change this or remove it to run as root (not recommended)
User=pi
WorkingDirectory=/home/pi/Documents/rk-ai-assistant
ExecStart=/usr/bin/bash /home/pi/Documents/rk-ai-assistant/start_rk.sh
Restart=always
RestartSec=10
StandardOutput=inherit
StandardError=inherit

[Install]
WantedBy=multi-user.target
